html {
  font-size: 20px;
}
h1{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 36px;
}
h2 {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 36px;
}
body{
  background-color: DarkSeaGreen;
  margin-top: 70px;
  margin-left: 60px;
}
p{
  color: whiteSmoke;
  font-family: Georgia, serif;
  font-size: 24px;
  text-align: left;
}
